@page "/fibonacci"
@rendermode InteractiveServer

<PageTitle>Fibonacci Sequence</PageTitle>

<h3>Fibonacci Sequence Challenge</h3>

<div class="row my-3">
    <div class="col-md-2">
        <label>Run numbers up to:</label>
        <input type="number" class="form-control" @bind="x" />
    </div>

    <!-- Additional Requirement 1 -->
    <div class="col-md-2">
        <label>Y Value:</label>
        <input type="number" class="form-control" @bind="y" />
    </div>
    <div class="col-md-2">
        <label>Z Value:</label>
        <input type="number" class="form-control" @bind="z" />
    </div>

    <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-primary btn-align-end" @onclick="RunLoop">Run</button>
    </div>
</div>

@if (Output.Count > 0)
{
    <ul class="list-group mt-3">
        @foreach (var item in Output)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
}

@code {
    private int? x { get; set; } = 6;
    // Additional Requirement 1
    private int? y { get; set; } = 1;
    private int? z { get; set; } = 2;
    private List<string> Output { get; set; } = new List<string>();

    private void RunLoop()
    {
        Output.Clear();

        // Error checking
        if (x == null || x <= 0)
        {
            Output.Add("Please enter a valid positive integer for X value [ x > 0].");
            return;
        }
        if (y == null || y <= 0)
        {
            Output.Add("Please enter a valid positive integer for Y value [ y > 0].");
            return;
        }
        if (z == null || z <= 0)
        {
            Output.Add("Please enter a valid positive integer for Z value [ z > 0].");
            return;
        }

        for (int i = 0; i < x.Value; i++)
        {
            int index1 = i - y.Value;
            int index2 = i - z.Value;

            Output.Add((index1 < 0 || index2 < 0) ? "1" : (int.Parse(Output[index1]) + int.Parse(Output[index2])).ToString());
        }
    }

    private int indexNum(int currentIndex, int offset)
    {
        int newIndex = currentIndex - offset;
        return newIndex < 0 ? 0 : newIndex;
    }
}
