@page "/fizzbuzz"
@rendermode InteractiveServer

<PageTitle>FizzBuzz</PageTitle>

<h3>FizzBuzz Challenge</h3>

<div class="row my-3">
    <div class="col-md-2">
        <label>Check numbers up to:</label>
        <input type="number" class="form-control" @bind="Limit" />
    </div>

    <div class="col-md-2">
        <label>Divisor 1: </label>
        <input type="number" class="form-control" @bind="Divisor1" />
    </div>
    <div class="col-md-2">
        <label>Phrase 1: </label>
        <input type="text" class="form-control" @bind="Phrase1" />
    </div>

    <div class="col-md-2">
        <label>Divisor 2: </label>
        <input type="number" class="form-control" @bind="Divisor2" />
    </div>
    <div class="col-md-2">
        <label>Phrase 2: </label>
        <input type="text" class="form-control" @bind="Phrase2" />
    </div>

    <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-primary btn-align-end" @onclick="RunLoop">Run</button>
    </div>
</div>


@if (Output.Count > 0)
{
    <ul class="list-group mt-3">
        @foreach (var item in Output)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
}

@code {
    private int Limit { get; set; } = 100;

    // These are to meet Additional Requirement 1:
    // --- Accept input for the divisors
    private int? Divisor1 { get; set; } = 3;
    private int? Divisor2 { get; set; } = 5;

    // These are to meet Additional Requirement 2:
    // --- Accept input for the phrases
    private string? Phrase1 { get; set; } = "fizz";
    private string? Phrase2 { get; set; } = "buzz";


    private List<string> Output { get; set; } = new();

    private void RunLoop()
    {
        Output.Clear();

        // Check and validate user input (Requirement 1)
        if (Phrase1 == null || Phrase1.Trim() == "")
            Phrase1 = "fizz";
        if (Phrase2 == null || Phrase2.Trim() == "")
            Phrase2 = "buzz";
        if (Divisor1 == null || Divisor2 == null)
        {
            // Validation error
            Output.Add("Error: You must supply a value for both divisors.");
            return;
        }
        if (Divisor1 == 0 || Divisor2 == 0)
        {
            // Math error
            Output.Add("Error: Divisors cannot be zero.");
            return;
        }        

        for (int i = 0; i <= Limit; i++)
        {
            if (i % Divisor1 == 0 && i % Divisor2 == 0) Output.Add(Phrase1 + Phrase2);
            else if (i % Divisor1 == 0) Output.Add(Phrase1);
            else if (i % Divisor2 == 0) Output.Add(Phrase2);
            else Output.Add($"{i}");
        }
    }
}
